.contactenos:hover{
    opacity: 100%;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}

.btn-circulo:hover{
    color: #0056b3;
    opacity: 100%;
    transition: 0.5s;
}

.btn2-circulo:hover{
    opacity: 100%;
    transition: 0.5s;
}